<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/Umbruch
      xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!--
    <servlet>
        <servlet-name>HttpConnector</servlet-name>
        <servlet-class>de.pschiessle.httpserver.controller.connector.TodoConnector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpConnector</servlet-name>
        <url-pattern>/Schnarch1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserConnector</servlet-name>
        <servlet-class>de.pschiessle.httpserver.controller.connector.UserConnector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserConnector</servlet-name>
        <url-pattern>/Schnarch2</url-pattern>
    </servlet-mapping>
    -->
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>TodoConnector</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <users-patient-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </users-patient-constraint>
    </security-constraint>
-->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,username, password, token</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>core.Initializer</listener-class>
    </listener>
</web-app>
